@model System.Collections.Generic.List<UserModel>

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<h2 class="my-h2 centered-text">@ViewBag.Title</h2>

<table class="table table-hover my-table" id="users-table">
    <thead>
    <tr>
        <th class="centered-text">ID</th>
        <th>First name</th>
        <th>Second name</th>
        <th class="centered-text">Age</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td class="centered-text">@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.SecondName</td>
            <td class="centered-text">@user.Age</td>
        </tr>
    }
    </tbody>
</table>